[Unit]
Description=Errors

Wants=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10s
EnvironmentFile=/etc/environment

ExecStop=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker stop %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps | /bin/grep %p 1> /dev/null && /usr/bin/docker kill %p || true'
ExecStartPre=/bin/sh -c '/usr/bin/docker ps -a | /bin/grep %p 1> /dev/null && /usr/bin/docker rm %p || true'
ExecStartPre=/usr/bin/docker pull tboerger/errors:latest
ExecStart=/usr/bin/docker run --rm \
  --name %p \
  --hostname %p \
  --label traefik.enable=true \
  --label traefik.docker.network={{ errors_network }} \
  --label traefik.http.services.errors.loadbalancer.server.port=8080 \
  --label traefik.http.services.errors.loadbalancer.server.scheme=http \
  --label traefik.http.services.errors.loadbalancer.passhostheader=true \
  --label traefik.http.routers.errors.rule="PathPrefix(`/`)" \
  --label traefik.http.routers.errors.priority=1 \
  --label traefik.http.routers.errors.service=errors@docker \
  --label traefik.http.routers.errors.entrypoints=https \
  --label traefik.http.routers.errors.tls=true \
{% if errors_middlewares | default(False) %}
  --label traefik.http.routers.errors.middlewares={{ errors_middlewares | join(",") }} \
{% endif %}
  --label traefik.http.routers.errors-insecure.rule="PathPrefix(`/`)" \
  --label traefik.http.routers.errors-insecure.priority=1 \
  --label traefik.http.routers.errors-insecure.service=errors@docker \
  --label traefik.http.routers.errors-insecure.entrypoints=http \
{% if errors_middlewares | default(False) %}
  --label traefik.http.routers.errors-insecure.middlewares={{ errors_middlewares | join(",") }} \
{% endif %}
  --env-file /etc/default/errors \
  --network {{ errors_network }} \
  --volume /etc/ssl:/etc/ssl:ro \
  --health-cmd 'curl -sSf http://localhost:8080/metrics' \
  --health-interval 10s \
  --health-retries 20 \
  --health-timeout 10s \
  --publish 127.0.0.1:8080:8080 \
  tboerger/errors:latest

[Install]
WantedBy=multi-user.target
